* {
  margin: 0;
  padding: 0;
}

body {
  border: double;
  border-radius: 16px;
  background-image: url(images/bg.png);
  color: rgba(89, 155, 155, 1);
  text-align: center;
}

.link {
  color: deeppink;
}

h1 {
  color: deeppink;
}

.grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  border: #222222;
  border-radius: 16px;
  flex-grow: 40;
}

.item1 {
  flex-grow: 20;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  border-radius: 16px;
  margin: 1rem;
}

.menu {}

.footer {
  display: flex;
}