body {
  border: double;
  border-radius: 16px;
  background-color: darkslateblue;
  color: pink;
  text-align: center;
}

.link {
  color: deeppink;
}

h1 {
  color: deeppink;
}

.menu {}

.header {}