body {
  border: double;
  border-radius: 16px;
  background-color: darkslateblue;
  color: pink;
  text-align: center;
}

.link {
  color: deeppink;
}

h1 {
  color: deeppink;
}

.grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  flex-grow: 400;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  border-radius: 16px;
  margin: 1rem;
}

.menu {}

.footer {
  display: flex;
  flex-direction: column-reverse;
}